.button2-container {
    width: 186px;
}

.button2-button2 {
    width: auto;
    height: 40px;
    display: flex;
    position: relative;
    font-size: 16px;
    text-align: center;
    align-items: center;
    line-height: 24px;
    border-color: rgba(92, 92, 92, 0.7);
    border-width: .3px;
    border-radius: 20px;
    justify-content: center;
    background-color: #ffffff;
}

.button2-text {
    color: rgb(247, 23, 53);
    width: auto;
    height: 24;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
    line-height: 24px;
}

.button2 {
    top: 634px;
    left: 155px;
    height: 40px;
    position: relative;
}

button {
    display: inline-block;
    padding: .5rem 1rem;
    border-width: 1px;
    border-radius: 4px;
}