.button1{
    width: 186px;
    height: 40px;
    background: #FFFFFF;
    border: 0.3px solid rgba(92, 92, 92, 0.7);
    border-radius: 20px;
    color: #F71735;
    font-weight: 600;
    box-sizing: border-box;
}
.button1:hover{
    color: #FFFFFF;
    border: transparent;
    background: #FA6579;
    transition: .5s;
}

/*Media Querys*/
@media (max-width: 576px){

}
@media (min-width:577px) and (max-width:768px){

}
@media (min-width:769px) and (max-width:992px){

}
@media (min-width:993px) and (max-width:1279px){

}