.cardEstatus{
    width: 600px;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
}
.informationEstatus,
.estatusCard, 
.barraDiagnostico,
.botonSalirDiagnostico{
    margin-top: 5%;
}
.informationEstatus, .estatusCard, .notification{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.barraDiagnostico{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.botonSalirDiagnostico{
    display: flex;
    justify-content: center;
}
.notification{
    padding-top: 25px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
}

.ritmo-cardiaco-barra, .signos-vitales-barra {
    width: 500px;
}

