.headerIndex{
    height: 714px;
    background: linear-gradient(88.06deg, #FDB8C1 -23.57%, #F83953 98.81%);
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-index{
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    display: block;
    align-items: center;
    text-align: center;
    line-height: 3.5rem;
}
.description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
}
.button-index{
    margin: 29px 0px 0px 0px;
    height: 40px;
    width: 186px;
    background: #FDB8C1;
    border-radius: 20px;
    border-color: transparent;
    color: #FFFFFF;
}
.button-index:hover{
    transition: 1s;
    background:#FFFFFF;
    color: #F71735;
}
.mainIndex{
    height: 600px;
    display: flex;
    align-items: center;
}
.information-1{
    width: 396px;
    height: 96px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.information-2{
    margin: 1rem 0rem 0rem 0rem;
    width: 396px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.mainIndex2{
    height: 500px;
    background: linear-gradient(88.14deg, #FDB8C1 -23.56%, #F83953 98.97%);
    display: flex;
    align-items: center;
}
.emergencyInfo{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information-3{
    width: 392px;
    height: 108px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.information-4{
    margin: 1rem 0rem 0rem 0rem;
    width: 392px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
}
.footerIndex{
    height: 250px;
}
.footerCenter{
    height: 250px;
    display: flex;
   align-items: center;
}

/*Media Querys*/
@media (max-width: 576px){

}
@media (min-width:577px) and (max-width:768px){

}
@media (min-width:769px) and (max-width:992px){

}
@media (min-width:993px) and (max-width:1279px){

}