.headerMainLogin{
    height: 816px;
    background: linear-gradient(246.47deg, #F83953 -9.35%, rgba(248, 57, 83, 0.89) -9.33%, #FB8B9A 107.11%);
}
.componentsLogin{
    margin-top: 130px;
}
.title-login{
    height: 50px;
    width: 392px;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.subtitle-login{
    width: 382px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center; 
    color: #FFFFFF;
}
.description-login{
    margin-top: 22px;
    width: 382px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
}
.elipse{
    display: transparente;
}
.linksAcounts{
    width: 300px;
    display:flex;
    flex-direction: row;
}
.email{
    width: 155px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
.emailName{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: justify;
    color: #F71735;
}
.facebook, .instagram{
    background: #FFFFFF;
    border-radius: 5px;
    width: 31px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.line1{
    position: absolute;
    width: 693.56px;
    height: 266.52px;
    left: -202.68px;
    top: 624.47px;
}
.footerLogin{
    height: 250px;
}
.footerCenter{
    height: 250px;
    display: flex;
   align-items: center;
}